/******************************************/
/* Estilos reset css */
/*****************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************************************/
/* Fin reset css */
/*****************************************/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --font-text: 'Raleway';
   --color-text: #464646;
   --espacio-line-text: normal;
   --sombra-cajas: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: var(--font-text);
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/


/*Sección Menu*/

section.menu{
    display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	margin-bottom: 1.7rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.menu__header{
	display: flex;
	align-items: center;
}

.menu__title{
    display: flex;
	font-weight: bold;
	color: var(--color-text);
	margin-left: .5rem;
	font-size: 1rem;
}

.menu__nav{
	display: flex;
	align-items: center;
}


.menu__list{
	display: flex;
}


.menu__list__item{
	display: none;
}

.link__nav{
	display: flex;
	color: var(--color-text);
	font-size: 1rem;
	font-weight: 500;
}

.contacto--head{
	font-family: var(--font-text);
	color: var(--color-text);
	font-weight: 400;
	font-size: 0.875rem;
}


/*Sección Title*/

section.title{
	display: flex;
	margin-bottom: 1.7rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.title__div{
	display: flex;
	flex-direction: column;
}

.title__profile{
	width: 6.125rem;
	height: 6.125rem;
	
}

.title__bio{
	display: flex;
	text-align: left;
	font-size: 1.375rem;
	font-weight: bold;
	margin-top: 1rem;
	font-family: var(--font-text);
	color: var(--color-text);
	margin-bottom: 1rem;
	line-height: var(--espacio-line-text);
}

.title__subsection{
	font-size: 0.875rem;
	font-family: var(--font-text);
	color: var(--color-text);
	line-height: var(--espacio-line-text);
	font-weight: 400;

}

.title__container{
	display: flex;
	flex-direction: column;
}

.title__network{
	display: flex;
	margin-top: 1rem;
	align-items: center;
}

.title__network__item{
	margin-right: 1rem;
}

.link__network--item{
	color: var(--color-text);
	font-family: var(--font-text);
	font-size: 0.875rem;
	font-weight: 600;
}

/*Sección About*/

section.about{
	display: flex;
	background: #EAF2FD;
	align-items: center;
}

.about__container{
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.about__title{
	margin-bottom: 1rem;
	padding-top: 1.5rem;
	color: var(--color-text);
	font-weight: bold;
	font-family: var(--font-text);
	font-size: 1.375rem;
}

.about__paragraph{
	text-align: left;
	font-size: 0.875rem;
	font-weight: 400;
	color: var(--color-text);
	font-family: var(--font-text);
	margin-bottom: 1.5rem;
	line-height: var(--espacio-line-text);
}

/*section skills*/
section.skills{
	display: flex;
	flex-direction: column;
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.skills__title{
	text-align: center;
	margin-bottom: 2rem;
	color: var(--color-text);
	font-weight: bold;
	font-size: 1.375rem;
	font-family: var(--font-text);
	
}

.skills__line, .hobbies__line{
	display: flex;
	flex-direction: column;
	height: 29.688rem;
	flex-wrap: wrap;
	align-items: center;
}

.skills__box, .hobbies__box{
	display: flex;
	align-items: flex-end;
	background: #FFFFFF;
	width: 9.75rem;
	height: 7.375rem;
	margin-bottom: 2.5rem;
	box-shadow: var(--sombra-cajas);
}

.skills__img, .hobbies__img{
	display: flex;
	padding-left: 0.5rem;
	padding-bottom: 1rem;
}

.skills__name, .hobbies__name{
	display: flex;
	font-family: var(--font-text);
	color: var(--color-text);
	font-weight: bold;
	font-size: 1rem;
	text-align: left;
	padding-left: 0.5rem;
	padding-bottom: 1rem;
	
}

/*Sección Hobbies*/

section.hobbies{
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	padding-right: 1rem;
}
.hobbies__title{
	font-weight: bold;
	font-family: var(--font-text);
	font-size: 1.375rem;
	color: var(--color-text);
	text-align: center;
	margin-bottom: 2rem;
}

/* Experiencia Académica*/

section.academic{
	background: #EAF2FD;
	padding-top: 2rem;
	padding-bottom: 1.5rem;
}

.academic__title, .experience__section__title{
	font-family: var(--font-text);
	font-size: 1.375rem;
	font-weight: bold;
	text-align: center;
	color: var(--color-text);
	padding-bottom: 1rem;
	padding-top: 2rem;
}

.academic__courses{
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	padding-right: 1rem;
	align-items: center;
}

.academic__courses__box{
	display: flex;
	margin-bottom: 1rem;
	align-items: center;
	
}

.academic__courses__list{
	display: flex;
	flex-direction: column;
	align-content: center;
}

.academic__courses__item__img{
	background: #FFFFFF;
	width: 18.5rem;
	height: 7.375rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--sombra-cajas);
}

.img__academi_courses{
	width: 5.25rem;
	height: 3.625rem;
}

.academic__courses__item__title{
	margin-top: .5rem;
	font-family: var(--font-text);
	font-size: 0.875rem;
	font-weight: bold;
	color: var(--color-text);
}

.academic__courses__item__subtitle{
	text-align: left;
	margin-top: .5rem;
	font-size: 0.875rem;
	font-weight: 500;
	font-family: var(--font-text);
	color: var(--color-text);
}
/* experiencia*/

section.experience{
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 1rem;
}

.experiencie__box{
	display: flex;
	flex-direction: column;
}

.experience__img{
	width: 18.5rem;
	height: 9rem;
	align-self: center;
}


.experience__info{
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	padding-left: 1.5rem;
}


.experience__title{
	font-family: var(--font-text);
	font-size: 1rem;
	color: var(--color-text);
	font-weight: bold;
}

.experience__text{
	font-family: var(--font-text);
	font-weight: 500;
	font-size: 0.875rem;
	color: var(--color-text);
	margin-top: .5rem;
}

.experience__description{
	display: flex;
	justify-content: flex-start;
	margin-top: .5rem;
}

.experience__demo{
	padding-bottom: 3rem;
}

.experiencia__botao--repo{
	width: 6.75rem;
	height: 2.5rem;
	color: #2A7AE4;
	font-family: var(--font-text);
	font-size: 1rem;
	border: 1px solid #2A7AE4;
	font-weight: 600;
	border-radius: .3rem;
	cursor: pointer;
}

.experience__botao--demo{
	width: 6.75rem;
	height: 2.5rem;
	margin-left: .5rem;
	border-radius: .3rem;
	font-family: var(--font-text);
	font-size: 0.875rem;
	font-weight: 600;
	border: 1px solid #2A7AE4;
	background: #2A7AE4;
	color: #FFFFFF;
	cursor: pointer;
}


/*Contacto*/

section.formcontato{
	display: flex;
	background: #EAF2FD;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 2rem;
}

.formcontato__contacto{
	display: flex;
	flex-direction: column;
}

.formcontato--esquerda{
	display: none;
}

.formcontato__img{
	display: none;
}

.formcontato__text{
	display: flex;
	flex-direction: column;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
	justify-content: flex-start;
}

.formcontato__title{
	font-family: var(--font-text);
	font-size: 1.375rem;
	font-weight: bold;
	padding-top: 2rem;
	color: var(--color-text);
	margin-bottom: .5rem;
	align-self: flex-start;
}

.formcontato__subtext{
	font-family: var(--font-text);
	font-size: 0.875rem;
	font-weight: 500;
	align-self: flex-start;
	color: var(--color-text);
	line-height: var(--espacio-line-text);
}

.formcontato__form{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 2.3rem;
}

::-webkit-input-placeholder{
	color: #A2A2A2;
	font-family: var(--font-text);
	font-size: 0.75rem;
	font-weight: 400;
	padding-left: 1rem;
}

.formcontato__input{
	display: flex;
	height: 3.5rem;
	margin-bottom: 2rem;
	border: none;
	box-shadow: var(--sombra-cajas);
	border-radius: .2rem;
}


.formcontato__textarea{
	width: 100%;
	height: 8.313rem;
	margin-bottom: 1.5rem;
	border: none;
	border-radius: .2rem;
	box-shadow: var(--sombra-cajas);
	resize: none;
}

textarea::-webkit-input-placeholder{
	padding-top: 1rem;
	
}

.formcontato__botao{
	width: 8.313rem;
	height: 2.5rem;
	border: none;
	background: #2A7AE4;
	color: #FFFFFF;
	border-radius: .2rem;
	font-family: var(--font-text);
	font-size: 0.875rem;
	font-weight: 500;
}
/*footeer*/

section.footer{
   text-align: center;
   padding-top: 2rem;
   padding-bottom: 2rem;
   font-family: var(--font-text);
   font-size: 1rem;
   color: var(--color-text);
   font-weight: 500;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/*sections*/
section.menu, section.title, section.skills,
section.hobbies, .about__container, .academic__courses{
	padding-left: 2rem;
	padding-right: 2rem;
}

section.academic{
	padding-top: 1rem;
}
/* Menú */
.contacto--head{
	font-size: 1rem;
	font-weight: bold;
}

/*title*/
.title__div{
	flex-direction: row;
	justify-content: space-between;
	padding-top: .5rem;
}

.title__profile{
	width: 9.125rem;
	height: 9.125rem;
	order: 1;
}

.title__container{
	display: inline-block;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.title__subsection{
	font-size: 1rem;
}

.title__network__item{
	margin-right: 3rem;
}

.link__network--item{
	font-size: 1rem;
}


/*Skills*/
.skills__line, .hobbies__line{
	flex-direction: row;
	justify-content: space-between;
	height: auto;
}

.skills__box, .hobbies__box{
	width: 14rem;
	height: 7.375rem;
}
/*Hobbies*/

/*Formación Académica*/
.academic__title, .experience__section__title{
	padding-bottom: 2rem;
}

.academic__courses{
	flex-direction: row;
	justify-content: space-between;
}


.academic__courses__item__img{
	width: 14rem;
	height: 7.375rem;
}

.academic__courses__item__title{
	font-size: 1rem;
}

/*Experiencia Profesional*/
.experience__img{
	width: 44rem;
	height: 20rem;
}


/*form Contact*/
.formcontato__text{
	padding-right: .5rem;
	
}

.formcontato__subtext{
	font-size: 1rem;
}

.formcontato__input{
	width: 43rem;
}

::-webkit-input-placeholder{
	font-size: 1rem;
}
}

/*Escritorio*/
@media screen and (min-width: 1024px){
/*Sections*/
section.menu, section.title, section.skills,
section.hobbies, .about__container,
.academic__courses, section.experience, section.formcontato{
	padding-left: 6.25rem;
	padding-right: 6.25rem;
}
/*Menu*/
.menu__list__item{
	display: flex;
	margin-right: 2.5rem;
}

.contacto--head{
	display: none;
}

/*Titulo*/
.title__profile{
	width: 23rem;
	height: 23rem;
}

.title__container{
	display: inline-block;
	width: 75%;
	align-self: center;
}
.title__subsection{
	font-size: 1.375rem;
}

.title__bio{
	font-size: 3.25rem;
}

.about__title{
	margin-bottom: 1.5rem;
	padding-top: 2.5rem;
	font-size: 2rem;
}

.title__network{
	padding-top: 1.5rem;
}

/*Sección sobre mi*/
.about__container{
	width: 55%;
}

.about__paragraph{
	font-size: 1rem;
}
/*Skills*/
.skills__line, .hobbies__line{
	margin-left: .5rem;
}

.skills__box, .hobbies__box{
	width: 11rem;
	height: 10.875rem;
}
/*Hobbies*/
 
/*Formación Académica*/
.academic__title, .experience__section__title{
	font-size: 2rem;
	
}

.academic__courses__item__img{
	width: 23rem;
	height: 17.875rem;
}

.img__academi_courses{
	width: 12rem;
	height: 8.125rem;
}

.academic__courses__item__title{
	font-size: 1.375rem;
}

.academic__courses__item__subtitle{
	font-size: 1rem;

}
/*Experiencia Profesional*/

.experiencie__box{
	flex-direction: row;
	margin-bottom: 2.5rem;
	align-items: center;
}

.experience__img{
	width: 47rem;
	height: 25.375rem;
}

.experience__img--order{
	order: 1;
}

.experience__info{
	padding-right: 2rem;
}

.experience__title{
	font-size: 1.375rem;
}

.experience__text{
	font-size: 1rem;
}

.experiencia__botao--repo:hover{
	color:#FFFFFF;
	background: #2A7AE4;
}

.experience__botao--demo:hover{
	background: #FFFFFF;
	color: #2A7AE4;
}

 /*Contacto*/

 .formcontato__contacto{
	flex-direction: row;
	padding-top: 5rem;
	padding-bottom: 3.5rem;
}

.formcontato__title{
	font-size: 2rem;
}

.formcontato--esquerda{
	display: flex;
}

.formcontato__img{
	display: flex;
}

.formcontato__botao{
	font-size: 1rem;
	font-weight: 400;
	cursor: pointer;
}

.formcontato__botao:hover{
	color: #2A7AE4;
	background: #FFFFFF;
	border: 1px solid #2A7AE4;
}

}